S3method("[[",package_options)
S3method("[[<-",package_options)
S3method(format,package_metaregistry)
S3method(format,package_subregistry)
S3method(print,package_metaregistry)
S3method(print,package_options)
S3method(print,str_diff)
S3method(xtable,package_metaregistry)
export(R.CMD)
export(R.SHLIB)
export(R.exec)
export(Rversion)
export(addNamespaceExport)
export(allFormals)
export(as.package_options)
export(cgetAnywhere)
export(checkPlot)
export(checkWarning)
export(compile_src)
export(exitCheck)
export(extractLocalFun)
export(getLoadingNamespace)
export(hasNames)
export(inSweave)
export(is.dir)
export(isFALSE)
export(isInteger)
export(isLoadingNamespace)
export(isNA)
export(isNamespaceLoaded)
export(isNumber)
export(isPackageInstalled)
export(isReal)
export(isString)
export(is_option_symlink)
export(libname)
export(list.libs)
export(listPackageOptions)
export(makeUnitVignette)
export(new2)
export(oneoffVariable)
export(option_symlink)
export(option_symlink_target)
export(packageEnv)
export(packageOptions)
export(packageRegistry)
export(packageTestEnv)
export(regfetch)
export(require.quiet)
export(requirePackage)
export(setPackageRegistry)
export(setupPackageOptions)
export(source_files)
export(str_desc)
export(str_diff)
export(str_out)
export(testRversion)
export(unit.test)
export(utest)
export(utestFramework)
export(write.bib)
export(writeUnitVignette)
importFrom(codetools,getAssignedVar)
importFrom(codetools,makeCodeWalker)
importFrom(xtable,xtable)
