S3method(format,package_metaregistry)
S3method(format,package_subregistry)
S3method(print,package_metaregistry)
S3method(print,str_diff)
S3method(xtable,package_metaregistry)
export(R.CMD)
export(R.SHLIB)
export(R.exec)
export(Rversion)
export(addNamespaceExport)
export(allFormals)
export(cgetAnywhere)
export(compile_src)
export(extractLocalFun)
export(getLoadingNamespace)
export(inSweave)
export(isFALSE)
export(isInteger)
export(isLoadingNamespace)
export(isNA)
export(isNamespaceLoaded)
export(isNumber)
export(isPackageInstalled)
export(isString)
export(list.libs)
export(makeUnitVignette)
export(new2)
export(packageEnv)
export(packageRegistry)
export(regfetch)
export(require.quiet)
export(requirePackage)
export(setPackageRegistry)
export(str_desc)
export(str_diff)
export(str_out)
export(unit.test)
export(utest)
export(write.bib)
export(writeUnitVignette)
importFrom(xtable,xtable)
